.first-item {
display: flex;
width: 100%;
font-size: large;
border-radius: 5px;
}

.container {
    background-color: peachpuff;
}

#question {
    display: flex;
    width: 100%;
    font-size: 2.5rem;
}

.answer-choice {
    display: inline-flex;
    width: 90%;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    background-color: burlywood;
}

.answer-choice:hover {
    cursor: pointer;
    transition: 120ms;
    box-shadow: 4px 10px 0 palevioletred;
}

.choice-prefix {
    padding: 1.5rem;
}

.option-text {
    padding: 2rem;
}

@media screen and (max-width: 768px) {
    .answer-choice {
      display: flex;
      width: 100%;
    }

    .answer {
        background: linear-gradient();
    }

    .right { 
        background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    }
    
    .wrong {
        background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(26, 232, 247));
    }
}