
.first-item {
display: flex;
width: auto;
font-size: large;
}

#question {
    display: flex;
    width: 100%;
    font-size: 2.5rem;
}

.answer-choice {
    display: flex;
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1rem;
    background-color: burlywood;
}

.answer-choice:hover {
    cursor: pointer;
    transition: 120ms;
    box-shadow: 4px 10px 0 blue;
}

.choice-prefix {

}

.option-text {
    
}